body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: white;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.span-logo {
  color: #2e2f42;
}
.nav-link {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address-list {
  color: #434455;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-list:hover,
.address-list:focus {
  color: #404bbf;
}
.hero-section {
  background: #2e2f42;
}
.hero-section-title {
  color: #fff;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.button {
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.studio-titles {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.studio-text {
  color: #434455;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.our-team {
  background-color: #f4f4fd;
}
.our-team-list {
  background-color: #fff;
}
.our-team-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.our-team-name {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.our-team-text {
  color: #434455;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.our-portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.our-portfolio-options {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.our-portfolio-text {
  color: #434455;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.footer {
  background: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.span-logo-footer {
  color: #f4f4fd;
}
